.titulo-adelo {
  letter-spacing: -0.05em;
  font-size     : 56px;
  color         : #000000;
  text-align    : center;
}

.topo {
  height: 120px;
}

.topo-logo {
  display: inline;
}

.topo-titulo {
  height: 120px;
}

.titulo-adelo {
  line-height: 120px;
}

.topo-opcoes {
  top      : 50%;
  transform: translateY(-50%);
  position : absolute;
  bottom   : 0;
  right    : 0;
}

.topo-buscar img {
  vertical-align: middle;
}

.destaques {
  background-color: rgb(49, 47, 41);
  background-image: url("../img/espaco.png");
  width           : 100%;
  color           : white;
  display         : flex;
  align-items     : center;
  padding-top     : 5rem;
}

.menu {
  line-height: 500px;
}

.menu ul {
  list-style    : none;
  border-bottom : 1px white solid;
  text-transform: uppercase;
  width         : 20rem;
}

.menu li {
  border-top    : 1px white solid;
  padding-top   : 1.5rem;
  line-height   : normal;
  padding-left  : 1.5rem;
  margin-bottom : 0;
  padding-bottom: 1.5rem;

}
.menu li.active {
  background-color: rgba(255,225,0,0.5);
  color           : rgb(255, 238, 105);
}
.menu li:hover {
  background-color: rgba(255, 255, 255, 0.35);
  color           : white;
}

.promocoes {
  text-align    : center;
  text-transform: uppercase;
}

.promocao-container {
  float: left;
}

.promocao-imagem img {
  height: 300px;

}

.promocao-titulo {
  font-family: "Times new roman";
  font-size  : 9rem;
  margin     : 0;
}

.promocao-descricao {
  background-color: #DEC328;
  font-size       : 2rem;
  color           : black;
  letter-spacing  : 0.5rem;
  font-weight     : bolder;
  display         : table;
  padding         : 0.5rem 2rem;
  text-shadow     : 0.15rem 0.15rem white;
  margin-left     : auto;
  margin-right    : auto;
  font-style      : italic;
}

.promocao-comprar {
  display  : table;
  border   : #dec328 0.4rem solid;
  margin   : 2rem auto;
  font-size: 2rem;
  padding  : 0.7rem 3.5rem;
}
