.titulo-adelo {
  /*font-family   : bodoni-w01-poster,bodoni-poster-w10,fantasy;*/
  letter-spacing: -0.05em;
  font-size     : 56px;
  color         : #000000;
  text-align    : center;
}

.topo {
  height: 120px;
}

.topo-logo {
  display: inline;
}

.topo-titulo {
  height: 120px;
}

.titulo-adelo {
  line-height: 120px;
}

.topo-opcoes {
  position: absolute;
  bottom  : 0;
  right   : 0;
}

.topo-buscar img {
  vertical-align: middle;
}

.destaques {
  height          : 420px;
  background-color: #553900;
  width           : 100%;
  color           : #FFE3AA;
  display         : flex;
  align-items     : center;
}

.menu {
  line-height: 420px;
}

.menu ul {
  list-style   : none;
  border-bottom: 1px #FFE3AA solid;
  margin-left  : 20px;
}

.menu li {
  border-top  : 1px #FFE3AA solid;
  padding-top : 1rem;
  line-height : normal;
  padding-left: 5px;
}
.promocoes {

  text-align: center;
}
